<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="navbar-nav">
    <a class="nav-link" [class.active]="aba === 'home'" (click)="aba = 'home'">Home</a>
    <a class="nav-link" [class.active]="aba === 'mapa'" (click)="aba = 'mapa'">Mapa</a>
    <a class="nav-link" [class.active]="aba === 'lista'" (click)="aba = 'lista'" >Lista</a>
  </div>
</nav>

<div class="container" [ngSwitch]="aba">
  <p *ngSwitchDefault>é home!</p>
  <p *ngSwitchCase="'mapa'">é mapa!</p>
  <p *ngSwitchCase="'lista'">é lista!</p>
</div>