<div class="container" *ngIf="form">
  <h5 class="title">
    Detalhes do form
  </h5>
  <div class="form-data">
    Form válido: {{ form.valid }}
  </div>
  <div class="form-data">
    Form submetido: {{ form.submitted }}
  </div>
  <div class="form-data">
    Valores: <br> {{ form.value | json }}
  </div>
</div>

<div class="container" *ngIf="formReactive">
  <h5 class="title">
    Detalhes do form
  </h5>
  <div class="form-data">
    Form válido: {{ formReactive.valid }}
  </div>
  <!-- <div class="form-data">
    Form submetido: {{ formReactive.sub }}
  </div> -->
  <div class="form-data">
    Valores: <br> {{ formReactive.value | json }}
  </div>
</div>