<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="d-flex flex-column gap-3">
  <div class="form-group col-4 d-flex flex-column gap-1">
    <label [class.control-label]="!nome.valid && nome.touched" for="nome">Nome *</label>
    <input #nome="ngModel" [class.is-invalid]="!nome.valid && nome.touched" maxlength="100" minlength="3" required
      [(ngModel)]="usuario.nome" type="text" class="form-control" id="nome" name="nome" placeholder="John Doe...">
    <div *ngIf="!nome.valid && nome.touched" class="alert alert-danger">
      <div>Nome é obrigatório. </div>
      <div> Mínimo de 3 caracteres.</div>
    </div>
  </div>
  <div class="form-group col-4 d-flex flex-column gap-1">
    <label for="email">E-mail *</label>
    <input #email="ngModel" name="email" [class.is-invalid]="!email.valid && email.touched" maxlength="100" required
      [(ngModel)]="usuario.email" type="email" class="form-control" id="email" placeholder="joe@email.com" email>
    <div *ngIf="!email.valid && email.touched" class="alert alert-danger">E-mail é obrigatório</div>
  </div>
  <div class="form-group col-4">
    <button type="submit" [disabled]="!f.valid" class="btn btn-primary">Submit</button>
  </div>
</form>