<form class="form-horizontal d-flex flex-column gap-3 mt-3" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="form-group d-flex flex-column gap-1">
    <label for="nome">Nome *</label>
    <input type="text" class="form-control" id="nome" formControlName="nome" placeholder="John Doe...">
  </div>

  <div class="form-group d-flex flex-column gap-1">
    <label for="email">E-mail *</label>
    <input type="email" class="form-control" id="email" formControlName="email" placeholder="joe@email.com">
  </div>

  <div class="form-group d-flex gap-1">
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-secondary" (click)="resetar()">Cancelar</button>
  </div>

  <app-form-debug [formReactive]="formulario"></app-form-debug>
</form>