<nav>
  <div class="nav-wrapper">
    <a (click)="active = 'home'" routerLink="" class="brand-logo right">Rotas Ng2</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <!-- jeito manual de receber o active -->
      <li [class.active]="active === 'login'" (click)="changeActive('login')"><a routerLink="login">Login</a></li>
      
      <!-- se foi clicado, o li recebe a classe active -->
      <li routerLinkActive="active"><a routerLink="cursos">Curso</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>